---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Cards from '../components/Cards.astro';
import Testimonials from '../components/Testimonials.astro';
import PopularPrograms from '../components/PopularPrograms.astro';
import AboutUs from '../components/AboutUs.astro';
import FAQ from '../components/FAQ.astro';
import ContactForm from '../components/ContactForm.astro';
import {getPageInfo} from '../lib/wp';

// const {title, hero_parrafo, boton, texto_cm, subtitulo_cm, parrafo_cm, titulo_card_1, texto_card_1} = await getPageInfo("home")
const {title, hero_paragraph, button, text1_how_it_works, subtitle_how_it_works, text_how_it_works, title_card_1_how_it_works, paragraph_card_1_how_it_works, title_wpas,paragraph_wpas, paragraph_testimonial_1_wpas, paragraph_testimonial_2_wpas, paragraph_testimonial_3_wpas, name_1_wpas, name_2_wpas, name_3_wpas, job_1_wpas, job_2_wpas, job_3_wpas } = await getPageInfo("homee")
---

<Layout>
	<main>
		<Hero title={title}, hero_parrafo={hero_paragraph}, boton={button}/>
		<Cards text1_how_it_works={text1_how_it_works}, subtitle_how_it_works={subtitle_how_it_works}, text_how_it_works={text_how_it_works}, title_card_1_how_it_works={title_card_1_how_it_works}, paragraph_card_1_how_it_works={paragraph_card_1_how_it_works}/>
		<Testimonials title_wpas={title_wpas}, paragraph_wpas={paragraph_wpas}, paragraph_testimonial_1_wpas={paragraph_testimonial_1_wpas}, paragraph_testimonial_2_wpas={paragraph_testimonial_2_wpas}, paragraph_testimonial_3_wpas={paragraph_testimonial_3_wpas}, name_1_wpas={name_1_wpas}, name_2_wpas={name_2_wpas}, name_3_wpas={name_3_wpas}, job_1_wpas={job_1_wpas}, job_2_wpas={job_2_wpas}, job_3_wpas={job_3_wpas}/>

	</main>
</Layout>
